@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Permanent+Marker&display=swap");

/* html{
  font-size: 62.5%;} valeur de ref modifiée pour que 1rem=10px*/

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-weight: 520;
  text-decoration: none;
}



body {
  font-family: Overlock, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image:url(./assets/img/diy-tools.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} 




 
  /*width: 90%; à ajuster si nécessaire (ex. 80%, 1000px) */
  main {
 /*  height: 100vh; */
  width: 90%;
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 100px;
  background-color: #ccd1d1; 
  border-radius: 40px;
  border:2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto; 
  border-color: rgb(26, 27, 22);}
 



 


p {
  font-size: 22px;

}

.logo {
  width: 300px;
  /* Redimensionner le logo à la largeur souhaitée */
  height: auto;
  /* Garder le ratio d'aspect de l'image */
  margin-bottom: 25px;
  /* Espacement sous le logo */
}

.iso {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.header {

  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background:#44bba9;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 60px;

 /*  a supprimer pour un bandeau moins large */
 width: 80%; /* Ajuster si nécessaire (ex. 80%, 1000px) */
 /* max-width: 1400px; */ /* Limite maximale de largeur */
/*  margin: 0 auto; */ /* Centrer la div */
 padding: 80px;
 
}

.container-info {
 
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  /* border-radius:10px */ ;
}





h1 {
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: #333;
}



h2 {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

h3 {
  font-weight: 200;
  font-size: 0.80rem;
  /* taille texte mentions footer */
}

.warning {
  font-size:10px;
}


/* évite de forcer les boîtes */
/* .form {
  min-height: 500px;
  width: 90%;
} */
  

/* label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
  font-size: 20px;
} */

label { /*titre champs*/
  display: block;
  margin-top: 15px;
  font-size: 1.3rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
  width: 360px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: 0.2s;
  font-size: 20px;
  background-color: #efe7e7;
}

input :required:invalid {
  border: 2px solid red;
}
input[type="checkbox"] {
  margin-right: 10px;
}







button {
  background: rgb(#393735);
  color: #393735;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(220, 223, 215);
  transition: background-color 0.5s;
  /* Temps de transition pour la couleur de fond */
  transition: color 0.2s;
  /* Temps de transition pour la couleur du texte*/
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* Ombre du bouton */
  font-size: large;
}



button:hover {
  background:rgb(4, 98, 91);
  color:#ccc
  
  /* Couleur du texte du bouton survolé rgb(134, 164, 73); */
}

button-supprimer {

  order:1;
}





/* Structure du tableau */
#productTable {

  width: 100%; 
  margin: 0 auto;
  border-radius: 20px
}





#productTable  th {
  background-color: #167466; ; 
  color: #fff;
  text-align: center;
  border-radius: 1px;
}

.product-table table {
  width: 100%; /* Prend toute la largeur disponible */
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th, .product-table td {
  border: 2px solid #006666; /* Couleur de la bordure */
  padding: 10px;
  text-align: center; /* Centrer horizontalement le texte dans les cellules */
  
}

/* Ajuster la largeur des colonnes */
.product-table th:nth-child(1), .product-table td:nth-child(1) {
  width: 45%; /* Référence Article */
  
}
.product-table:nth-child(2), .product-table td:nth-child(2) {
  width: 10%; /* Quantité */
}
.product-table th:nth-child(3), .product-table td:nth-child(3) {
  width: 45%; /* Remarques */
}


 

/* Couleurs des champs par défaut */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"], 
input[type="number"]
{
    background-color: rgb(220, 223, 215) ; /* Couleur de l'arrière-plan */
    color: #333; /* Couleur du texte */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    font-size: 1rem; /* Taille de police */
    width: 90%; /* LARGEUR CHAMPS */
    box-sizing: border-box;  /* Inclut le padding dans la largeur totale */
}

/* Couleur des champs au focus */
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    background-color: #c3d2ce; /* Couleur plus claire */
    border-color: #5d7571; /* Bordure verte */
    outline: none; /* Supprime le contour par défaut */
}

/* Pour les champs obligatoires */
/* input[required] {
    border: 1px solid #ff6347;} /* Bordure rouge par défaut */


/* Animation lors du focus */
input:focus {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}



th,
td {
  border: 1px solid #ccc;
  /* padding: 10px; */
  
  padding: 2px;
  text-align: center;
  font-size: larger;
  border-radius: 10px;
}

th{
  width: 200px;
}


 


tr {
  border-radius: 90px
}





td button {
  background: rgb(223, 220, 215);
  color: #393735;
  transition: background-color 0.5s;
}

td button:hover {
  background: #bd1a2a;
  color: #e5dfd9;
}
  










.text_f {
  padding: 10px;
  font-size: 20px;
}



.info_sup {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background:rgb(8, 158, 148);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: 2px;
  border:  #333;
}

.form1 {
  padding: 20px;
}

.form2 {
  padding: 20px;
}

.form3 {
  padding: 20px;
}

.rgpd {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: larger;
}
  



.savw {
  width: 90%; /* Ajustez si nécessaire (ex. 80%, 1000px) */
  max-width: 1550px; /* Limite maximale de largeur */
  margin: 0 auto; /* Centrer la div */
  padding: 100px;
  
  background: #ccd1d1;
  border-radius: 20px;
  font-size:10px ;
}
 





.footer {
  padding: 10px;
}

/* .container-info {

  display: flex;
  flex-direction: row;
  justify-content: center;
} */



.footer {

  font-size: 10px;
  /* background-color: #bcd0cd; */
  background-color:#ccd1d1 ;
  border-radius: 20px;
  margin: 0 auto;
  width: 90%;

}





@media (max-width:1600px) {
 h1 {
    font-size: 2.5rem;
 }

 h2 {
  font-size: 1.8rem;

 }

 p {
  font-size: 22px;
 }

 .logo {
    width: 250px;
 }

 .iso {
   width : 90px;
  }


 .savw {
  font-size:0.2rem;
 }
 button {
      
  border: none;
  padding: 9px 18px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size:medium;

}
.header{
  width: 90%;
  padding: 90px;
} 

}

@media(max-width:1444px) {
  h1 {
    font-size: 2.3rem; ;
  }
  .header{
    width: 90%;
    padding: 80px;
  } 
}


@media (max-width:1408px) {
  h1 {
     font-size: 2.2rem;
  }
 
  h2 {
   font-size: 1.8rem;
 
  }
 
  p {
   font-size: 21px;
  }
 
  .logo {
     width: 248px;
  }
 
  .iso {
    width : 90px;
   }
 
 
  .savw {
   font-size:0.2rem;
  }
  button {
      
    border: none;
    padding: 9px 18px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size:medium;
  
  }
  .header{
    width: 90%;
    padding: 70px;
  } 
 } 
 



 
 @media (max-width:1356px){
    h1 {
        font-size:2.1rem;
     }
     h2{
      font-size: 1.3rem;
     }
     p{
      font-size: 20px;
     }
    
     .logo {
        width: 210px;
     }
    
     .iso {
    
        width : 75px;
     }
     button {
      
      border: none;
      padding: 10px 11px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 10px;
      font-size:medium;
    
    }
    .header{
      width: 90%;
      padding: 60px;
    } 
  }

 
    

    


     
 @media (max-width:1270px){
  h1 {
      font-size:2rem;
   }
   .logo {
    width: 200px;
 }

 h2{
  font-size: 1.2rem;
 }
 p{
  font-size: 19px;
 }

 .iso {

    width : 70px;
 }
 button {
      
  border: none;
  padding: 8px 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size:medium;


} 
.header{
  width: 90%;
  padding: 50px;
} 
 }

 @media (max-width:1221px){
  h1 {
      font-size: 1.9rem;
   }
  
  }


@media (max-width: 1195px){
  h1 {
    font-size:1.7rem;
  }
  
}



@media (max-width:1141px){
  h1 {
      font-size:1.7rem;
   }
   h2{
    font-size: 1.1rem;
   }
   p{
    font-size: 18px;
   }
  
   .logo {
      width: 170px;
   }
  
   .iso {
  
      width : 60px;
   }

   .container-info{
    width : 100%;
    display: inline-block;
      } 
    #productTable{
      width : 100%;
    }
    
    
    button {
      
      border: none;
      padding: 7px 17px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 10px;
      font-size:smaller;
    
    }
    .header{
      width: 90%;
      padding: 40px;
    } 

}  

    
/* premier break front */
@media (max-width:1104px){
  h1 {
      font-size:1.6rem;
   }

   h2 {
    font-size: 1rem;
   }
   p {
    font-size: 18px;
   }
  
   .logo {
      width: 167px;
   }
  
   .iso {
  
      width : 55px;
   }

   .container-info{
    width : 100%;
    display: inline-block;
      } 
    #productTable{
      width : 100%;
    }
    button {
      
      border: none;
      padding: 7px 17px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 10px;
      font-size:smaller;
    
    }
    .header{
      width: 80%;
      padding: 40px;
    } 

    

  }
   
  
   
@media (max-width:1099px){
  h1 {
    font-size:1.5rem;
 }
  .container-info{
width : 100%;
display: inline-block;
  } 
#productTable{
  width : 100%;
} 
p {
  font-size: 17px;
}


main {
  width : 80%;
  width: 80%; /* Ajuster si nécessaire  */
  max-width: 1300px; /* Limite maximale de largeur */
  margin: 0 auto; /* Centrer la div */
  padding: 90px;
}
}



@media (max-width:1027px){
  h1 {
      font-size:1.4rem;
   }
  
   .logo {
      width: 159px;
   }
  
   .iso {
  
      width : 55px;
   }
   p{
    font-size: 17px;
   }

   h2 {
    font-size: 1.3rem;}

    .header{
      width: 80%;
      padding: 50px;
     }
     main {
      max-width: 80%;
      padding:50px;
     }

}

@media (max-width:990px){
  h1 {
      font-size:1.3rem;
   }
  
   .logo {
      width: 156px;
   }
  
   .iso {
  
      width : 50px;
   }
   p{
    font-size: 16px;
   }

   h2 {
    font-size: 1.2rem;}
  /*   .header{
      max-width: min-content;
      padding: 80px;
     } */
     button {
      
      border: none;
      padding: 6px 15px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 10px;
      font-size:smaller;
    
    }
}

@media (max-width:953px){
  h1 {
      font-size:1rem;
   }
  
   .logo {
      width: 130px;
   }
  
   .iso {
  
      width : 50px;
   }
   p{
    font-size: 18px;
   }
   .header{
    width: 80%;
    padding: 40px;
   }
   main {
    max-width: 80%;
    padding:50px;
   }

}




@media (max-width:796px){
  h1 {
      font-size:1rem;
   }
  
   .logo {
      width: 130px;
   }
  
   .iso {
  
      width : 50px;
   }
   p{
    font-size: 17px;
   }
   .header{
    width: 80%;
    padding: 40px;
   }
   main {
    max-width: 80%;
    padding:50px;
   }
   input {
    font-size: 0.9rem;
    padding: 8px;
}

}




@media (max-width:692px){
  h1 {
      font-size:0.9rem;
   }
  
   .logo {
      width: 127px;
   }
  
   .iso {
  
      width : 47px;
   }
   p{
    font-size: 17px;
   }
   .header{
    width: 80%;
    padding: 30px;
   }
   main {
    max-width: 80%;
    padding:50px;
   }

}

@media (max-width: 480px) {
  body {
      padding: 10px;
  }

  .container-info {
      padding: 15px;
  }
  h1{
    font-size: 0.5rem;
  }
  h2 {
      font-size: 1rem;
  }

  label {
      font-size: 0.9rem;
  }

  input {
      font-size: 0.85rem;
      padding: 6px;
  }
}
 

